* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

%cardStyle {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  // margin-right: 10px;
  border: 1px solid #000;
  width: 112px;
  height: 173px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  position: relative;
}

.solitaire__wrap {
  background-color: rgba(18, 18, 18, 1);
  width: 1280px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;

  &__sidebar {
    height: 54px;
    // width: 100%;
    margin: 8px 0;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Sans', sans-serif;

    &__flag {
      font-size: 32px;
      color: rgba(0, 255, 206, 1);
      font-style: italic;
      font-weight: bold;
      margin-left: 87px;
      text-align: left;

      & span:last-child {
        color: rgba(166, 23, 255, 1);
      }
    }

    &__time {
      color: rgba(255, 255, 255, 1);
      font-size: 32px;
    }

    &__buttons {
      width: 220px;
      margin-right: 87px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      color: #fff;

      & div {
        width: 70px;
        display: flex;
        cursor: pointer;

        & span {
          font-size: 16px;
        }
      }
    }
  }

  &__place {
    margin: 48px 87px 0;
    // background-color: #ccc;
    display: flex;
    justify-content: space-between;

    &__left {
      width: 100%;
      display: flex;
      justify-content: space-around;

      &__items {
        @extend %cardStyle;
        background-color: rgba(94, 72, 72, 0.08);
        line-height: 100%;

        &__icon {
          margin-top: 74.5px;
        }
      }
    }

    &__right {
      display: flex;
      width: 100%;
      justify-content: space-around;

      & div {
        @extend %cardStyle;
        background-color: rgba(255, 255, 255, 0.08);
      }
    }
  }

  &__cards {
    margin: 48px 87px 112px;
    display: flex;
    justify-content: space-around;

    & div {
      @extend %cardStyle;
    }
  }
}